<div
  class="container text-center col-10 border border-primary border-3 p-3 rounded"
  id="member"
>
  <h2>{{member.username}}'s plants!</h2>
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">

    {{#each member.pictures as |picture|}}
      <div class="col">
        <div class="card">
          <img
            src="/uploadImages/{{filename}}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Description</p>

          </div>
        </div>
      </div>
    {{/each}}

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Upload plant picture</h5>
          <a href="upload/{{member.id}}" class="btn btn-primary">Upload</a>

        </div>
      </div>
    </div>

  </div>
</div>