<div class="container text-center col-4 border border-primary border-3 p-3">
  <h3>Welcome Back!</h3>
  <a href="/login" role="button" class="btn btn-primary">Login</a>
  <br />
  <br />
  <h3>Become a Plant Person!!</h3>
  <a href="/signup " role="button" class="btn btn-primary">Sign Up</a>
</div>