.gal {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}
.gal img {
  width: 100%;
  padding: 7px 0;
  /* opacity: 0.8; */
}
@media (max-width: 500px) {
  .gal {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
}

#welcome,
#signup,
#login {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  background-color: rgb(86, 98, 166);
}
